<launch>

<!--stand ros unit m | m/s | rad-->
<!--map origin default = 1/2 map size-->

<arg name="map_size_x" default="80.0"/>
<arg name="map_size_y" default="80.0"/>
<arg name="map_size_z" default=" 1.0"/>

<!-- <arg name="map_orign_x" default="20.0"/>
<arg name="map_orign_y" default="10.0"/>
<arg name="map_orign_z" default=" 0.5"/> -->


<arg name="start_x" default=" 0.0"/>
<arg name="start_y" default=" 0.0"/>
<arg name="start_z" default=" 0.0"/>

<arg name="start_vx" default=" 0.0"/>
<arg name="start_vy" default=" 0.0"/>
<arg name="start_vz" default=" 0.0"/>

<arg name="dir_grid_m"      default="3.0"/>
<arg name="iter_num_max"    default="1200"/>
<arg name="xy_sample_size"    default="0.3"/>
<!-- <arg name="q_sample_size"   default="M_PI*2"/> -->
<arg name="xy_bais"         default="0.2"/>
<!-- c_angle_ = xy_sample_size_ /M_PI * 1.2 -->
<!-- c_angle_ = 0.2/ 0.152 -->
<arg name="c_angle"         default="0.152"/> 
<arg name="xy_resolution"   default="0.05"/>
<!-- <arg name="q_resolution"    default="M_PI*2"/> -->
<arg name="time_interval"   default="0.01"/>
<arg name="vel_factor"      default="2.0"/>
<arg name="ome_factor"      default="2.0"/>
<arg name="weightR"         default="1.0"/>
<arg name="SAMPLE_RANDOM"   default="true"/>
<arg name="erode_kernel_size" default="6.0"/>
<arg name="sdf_th" default="0.2"/>

<arg name="nav_seq_vis"     default="true"/>


<node pkg="fast_navigation" type="swaft_planner_node" name="swaft_planner_node" output="screen" required = "true">
    <remap from="~waypoints" to="/waypoint_generator/waypoints"/>
    <remap from="~map" to="/image_map/local_map"/>
    <remap from="~odom" to="/ground_truth/state"/>

    <!-- %%%%%%%%%%%%%% search parameters %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="search/dir_grid_m"     value="$(arg dir_grid_m)"/>
    <param name="search/iter_num_max"   value="$(arg iter_num_max)"/>
    <param name="search/xy_sample_size" value="$(arg xy_sample_size)"/>
    <!-- <param name="search/q_sample_size"  value="$(arg q_sample_size)"/> -->
    <param name="search/xy_bais"        value="$(arg xy_bais)"/>
    <param name="search/c_angle"        value="$(arg c_angle)"/>
    <param name="search/xy_resolution"  value="$(arg xy_resolution)"/>
    <!-- <param name="search/q_resolution"   value="$(arg axi_resolution)"/> -->
    <param name="search/time_interval"  value="$(arg time_interval)"/>
    <param name="search/vel_factor"     value="$(arg vel_factor)"/>
    <param name="search/ome_factor"     value="$(arg ome_factor)"/>
    <param name="search/weightR"        value="$(arg weightR)"/>
    <param name="search/SAMPLE_RANDOM"  value="$(arg SAMPLE_RANDOM)"/>

    <!-- %%%%%%%%%%%%%% map parameters %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="map/x_size" value="$(arg map_size_x)" />
    <param name="map/y_size" value="$(arg map_size_y)" />
    <param name="map/z_size" value="$(arg map_size_z)" />
    <param name="map/erode_kernel_size" value="$(arg erode_kernel_size)" />
    <param name="map/sdf_threshold"     value="$(arg sdf_th)"/>
    <param name="map/local_width"       value="3"/>
    <param name="map/resolution"        value="0.02"/>

    <!-- %%%%%%%%%%%%%% optimization parameters %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="optimization/oval_xvel"    value="2"/> <!-- 2 [m/s]--> 
    <param name="optimization/oval_yvel"    value="2"/> <!-- 2 [m/s]-->
    <param name="optimization/oval_qvel"    value="2"/> <!-- 2 [rad/s]-->
    <param name="optimization/oval_xacc"    value="2"/> <!-- 2 [m/s^2]-->
    <param name="optimization/oval_yacc"    value="2"/> <!-- 2 [m/s^2]-->
    <param name="optimization/oval_qacc"    value="2"/> <!-- 2 [rad/s^2]-->
    
    <!-- %%%%%%%%%%%%%% planner parameters %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="planner/frame_x"       value="0"/>
    <param name="planner/frame_y"       value="0"/>
    <param name="planner/frame_z"       value="0"/>
    <param name="planner/frame_roll"    value="0"/>
    <param name="planner/frame_pitch"   value="0"/>
    <param name="planner/frame_yaw"     value="0"/>

    <param name="planner/loop_rate"     value="10"/>
    <param name="planner/vis_Robot"     value="true"/>
    <param name="planner/vis_sample"    value="true"/>
    <param name="planner/vis_traj"      value="false"/>
    <param name="planner/vis_obspcl"    value="true"/>
    <param name="planner/nav_seq_vis"   value="$(arg nav_seq_vis)"/>
    <param name="planner/mpcHorizon"    value="1.0"/> <!-- 1.0 [s]-->
    <param name="planner/optHorizon"    value="3.0"/> <!-- 3.0 [s]-->
    <param name="planner/opt_seg"       value="0.0"/> 
    <!--小于0就不优化 | 等于0就是全优化 | 大于0就是根据采样区间和参考速度计算优化长度-->
    <param name="planner/persuit_factor"    value="1.0"/>
    


</node>

</launch>
