<launch>

<!--stand ros unit m | m/s | rad-->
<!--map origin default = 1/2 map size-->

<arg name="map_size_x" default="80.0"/>
<arg name="map_size_y" default="40.0"/>
<arg name="map_size_z" default=" 1.0"/>

<!-- <arg name="map_orign_x" default="20.0"/>
<arg name="map_orign_y" default="10.0"/>
<arg name="map_orign_z" default=" 0.5"/> -->


<arg name="start_x" default=" 0.0"/>
<arg name="start_y" default=" 0.0"/>
<arg name="start_z" default=" 0.0"/>

<arg name="start_vx" default=" 0.0"/>
<arg name="start_vy" default=" 0.0"/>
<arg name="start_vz" default=" 0.0"/>

<arg name="dir_grid_m"      default="3.0"/>
<arg name="iter_num_max"    default="1200"/>
<arg name="xy_sample_size"    default="0.3"/>
<!-- <arg name="q_sample_size"   default="M_PI*2"/> -->
<arg name="xy_bais"         default="0.2"/>
<!-- c_angle_ = xy_sample_size_ /M_PI * 1.2 -->
<!-- c_angle_ = 0.2/ 0.152 -->
<arg name="c_angle"         default="0.152"/> 
<arg name="xy_resolution"   default="0.05"/>
<!-- <arg name="q_resolution"    default="M_PI*2"/> -->
<arg name="time_interval"   default="0.01"/>
<arg name="vel_factor"      default="2.0"/>
<arg name="ome_factor"      default="2.0"/>
<arg name="weightR"         default="0.8"/>
<arg name="SAMPLE_RANDOM"   default="true"/>
<arg name="erode_kernel_size" default="6.0"/>
<arg name="sdf_th"          default="0.2"/>

<arg name="nav_seq_vis"     default="true"/>


<node pkg="fast_navigation" type="swift_planner_node" name="swift_planner_node" output="screen" required = "true">
    <remap from="~waypoints" to="/waypoint_generator/waypoints"/>
    <remap from="~map" to="/image_map/local_map"/>
    <remap from="~odom" to="/ground_truth/state"/>

    <!-- %%%%%%%%%%%%%% search parameters %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="search/dir_grid_m"     value="$(arg dir_grid_m)"/>
    <param name="search/iter_num_max"   value="$(arg iter_num_max)"/>
    <param name="search/xy_sample_size" value="$(arg xy_sample_size)"/>
    <!-- <param name="search/q_sample_size"  value="$(arg q_sample_size)"/> -->
    <param name="search/xy_bais"        value="$(arg xy_bais)"/>
    <param name="search/c_angle"        value="$(arg c_angle)"/>
    <param name="search/xy_resolution"  value="$(arg xy_resolution)"/>
    <!-- <param name="search/q_resolution"   value="$(arg axi_resolution)"/> -->
    <param name="search/time_interval"  value="$(arg time_interval)"/>
    <param name="search/vel_factor"     value="$(arg vel_factor)"/>
    <param name="search/ome_factor"     value="$(arg ome_factor)"/>
    <param name="search/weightR"        value="$(arg weightR)"/>
    <param name="search/SAMPLE_RANDOM"  value="$(arg SAMPLE_RANDOM)"/>

    <!-- %%%%%%%%%%%%%% map parameters size 是预设定的地图范围 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="map/x_size" value="$(arg map_size_x)" />
    <param name="map/y_size" value="$(arg map_size_y)" />
    <param name="map/z_size" value="$(arg map_size_z)" />
    <param name="map/erode_kernel_size" value="$(arg erode_kernel_size)" />
    <param name="map/sdf_threshold"     value="$(arg sdf_th)"/>
    <param name="map/local_width"       value="2"/>
    <param name="map/resolution"        value="$(arg xy_resolution)"/>
    <param name="map/mini_dist"         value="0.01"/>
    
    <!-- %%%%%%%%%%%%%% planner parameters %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="planner/frame_x"       value="0"/>
    <param name="planner/frame_y"       value="0"/>
    <param name="planner/frame_z"       value="0"/>
    <param name="planner/frame_roll"    value="0"/>
    <param name="planner/frame_pitch"   value="0"/>
    <param name="planner/frame_yaw"     value="0"/>

    <param name="planner/loop_rate"     value="10"/>
    <param name="planner/vis_Robot"     value="true"/>
    <param name="planner/vis_sample"    value="true"/>
    <param name="planner/vis_traj"      value="false"/>
    <param name="planner/vis_obspcl"    value="true"/>
    <param name="planner/vis_sdf_img"   value="false"/>
    <param name="planner/nav_seq_vis"   value="$(arg nav_seq_vis)"/>
    <param name="planner/vis_osqp_traj" value="false"/>
    <param name="planner/vis_nlopt_traj" value="false"/>
    <param name="planner/vis_tracking_traj" value="false"/>

    <param name="planner/mpcHorizon"    value="1.0"/> <!-- 1.0 [s]-->
    <param name="planner/optHorizon"    value="3.0"/> <!-- 3.0 [s]-->
    <param name="planner/opt_seg"       value="0.0"/> 
    <!-- 小于0就不优化 | 等于0就是全优化 | 大于0就是根据采样区间和参考速度计算优化长度 -->
    <param name="planner/persuit_factor"    value="0.2"/>
    <!-- reverse_odom for real world SLAM -->
    <param name="planner/offset_odom"      value="false"/>
    <param name="planner/track_ctrl"       value="true"/>
    <!-- 是否使用预先设计的轨迹进行跟踪 用于测试 -->
    <param name="planner/pure_tracking"     value="false"/>
    <param name="planner/orign_biasx"       value="-0.5"/>
    <param name="planner/orign_biasy"       value="-0.5"/>
    <param name="planner/orign_biasq"       value="3.1415926"/>

    <!-- %%%%%%%%%%%%%% optimization parameters %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <param name="nontrajopt/lambda_smo"     value="0.1"/>
    <param name="nontrajopt/SMO_SWITCH"     value="true"/>
    <param name="nontrajopt/lambda_obs"     value="1.0"/>
    <param name="nontrajopt/OBS_SWITCH"     value="true"/>
    <param name="nontrajopt/lambda_dyn"     value="10.0"/>
    <param name="nontrajopt/DYN_SWITCH"     value="true"/>
    <param name="nontrajopt/lambda_tim"     value="8000.0"/>
    <param name="nontrajopt/TIM_SWITCH"     value="true"/>
    <param name="nontrajopt/lambda_ova"     value="10.0"/>
    <param name="nontrajopt/OVA_SWITCH"     value="true"/>
    <param name="nontrajopt/dist_th"        value="0.5"/>
    <param name="nontrajopt/discredist"     value="0.05"/>
    <param name="nontrajopt/pv_max"         value="2.1"/>
    <param name="nontrajopt/pa_max"         value="2.1"/>
    <param name="nontrajopt/wv_max"         value="2.1"/>
    <param name="nontrajopt/wa_max"         value="2.1"/>
    <param name="nontrajopt/dyn_rate"       value="0.8"/>
    <param name="nontrajopt/OVAL_TH"        value="0.8"/>
    <param name="nontrajopt/ORIEN_VEL"      value="2.0"/>
    <param name="nontrajopt/VERDIT_VEL"     value="1.0"/>
    <param name="nontrajopt/TIME_OPTIMIZATION" value="true"/>
    <param name="nontrajopt/REDUCE_ORDER"      value="true"/>
    <param name="nontrajopt/BOUND_OPTIMIZATION" value="true"/>
    <param name="nontrajopt/INIT_OPT_VALUE"    value="true"/>
    <param name="nontrajopt/nlopt_max_iteration_num" value="100"/>
    <param name="nontrajopt/nlopt_max_iteration_time" value="0.1"/>

</node>

</launch>
